<!-- روی هر سه صفحه اعمال شود -->
<!--  فونت تمام تگ های پی از نوع تاهما شود -->
<!-- رنگ پس زمینه تگ های اچ 1 زرد شود -->
p{font-family : Tahoma;}
h1{background-color:yellow}
<!-- رنگ پس زمینه اچ 2 ها قرمز شود-->
h2{background-color:red}
<!--  رنگ پس زمینه اچ 3 ها آبی شود -->
h3{background-color:blue}